.utext {
    position: relative;
    line-height: 1.2em;
}

.utext:before {
    position: absolute;
    left: 0;
    top: 1.2em;
    height: 0;
    width: 50px;
    content: '';
    border-bottom: 3px solid #0DCAF0;
    padding-bottom: 15px;
}